@charset "utf-8";






/* Reset css*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, "微软雅黑";
    color: #434343;
}

body {
    _overflow: auto;
    _margin: 0 auto;
}

html {
    _overflow: hidden;
}
a:hover{
    text-decoration: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-variant: normal;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp {
    font-family: courier new, courier, monospace;
}

small {
    font-size: 4vw;
}

ul,
ol,
li,
dl,
dt,
dd {
    list-style: none;
}
body{
    line-height: normal!important;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}
*{
    margin: 0 ;padding: 0;
}
fieldset,
img {
    border: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
.lines {
    line-height: 0!important;
}

/*登录页样式------------------------------------------------------------------------------------------------------*/
.login-wrap{
    width: 100vw;
    height: 100vh;
    position: relative;

    overflow: auto;
}
.login-top{
    width: 100vw;
    height: 43.75%;
}
.login-cent{
    width: 83vw;
    margin: 3vh auto 0 auto;
}

.login-pic{
    float: left;
    width: auto;
    height: 0.55rem;
    margin: 0.25rem 3vw 0 0;
}
.login-input{
    float: left;
    border: none;
    font-size: 0.4rem;
    outline: none;
    width: 70vw;
    background-color: transparent!important;
}
.login-cent1 input::-webkit-input-placeholder{
    color:#b7b7b7;
}
.login-cent1 input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#b7b7b7;
}
.login-cent1 input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#b7b7b7;
}
.login-cent1 input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#b7b7b7;
}
.login-butt{
    display: block;
    width: 83vw;
    height: 1.05rem;
    background: url("../img/login-button_03.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -41.5vw;
    bottom: 14%;
    border: none;
    font-size: 6vw;
    color: #ffffff;
    outline: none;
}
.msgAlert{
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 5.5vw;
    position: fixed;
    top: 50vh;
    padding: 2vw;
    z-index:10;
    display: none;
    max-width: 60vw;
}
/*老师-个人中心------------------------------------------------------------------------------------------------------*/
.teacher-head{
    width: 100vw;
    height: 8vh;
    background-color: #348cf7;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.teacher-head img{
    width: auto;
    height: 3.5vh;
    margin: 2.25vh 2vw 2.25vh 4vw;
    float: left;
}
.teacher-head p{
    float: left;
    font-size: 6vw;
    line-height: 8vh;
    color: #ffffff;
    font-weight: bold;
}
.teacher-top{
    width: 100vw;
    height: 30vh;
    background: url("../img/teacher-pics_02.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 2vh;
    margin-top: 8vh;
}
.teacher-bg{
    width: 19vh;
    height: 19vh;
    background: url("../img/teacher-picBg_03.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
}
.teach-hi{
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6vh;
    margin-top: -6vh;
}
.teacher-name{
    font-size: 5.3vw;
    color: #ffffff;
    text-align: center;
    line-height: 5.5vh;
    font-weight: bold;
}
.teacher-sex1{
    overflow: hidden;
    width: 20vw;
    margin: 0 auto;
}
.teacher-sex{
    font-size: 3.2vw;
    color: #ffffff;
    float: left;
}
.teacher-cent {
    width: 88vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 2vh auto;
    padding: 1vh 3vw 14vh 3vw;
}
.teacher-cent li{
    border-bottom: 1px solid #f4f4f4;
    overflow: hidden;
    height: 8.6vh;
}
.tc_pic{
    width: 4vh;
    height: 4vh;
    float: left;
    margin:2.3vh 1vh 2.3vh 1vh ;
}
.teacher-left{
    float: left;
    overflow: hidden;
}
.teacher-left p{
    font-size: 4.8vw;
    line-height: 8.6vh;
    float: left;
    font-weight: bold;
}
.teacher-right{
    color: #828282;
    float: right;
    line-height: 8.6vh;
    font-size: 4.8vw;
    width: 47vw;
    text-align: right;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.teacher-foot{
    width: 100vw;
    height: 8.5vh;
    background-color: #f9f9f9;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #d5d5d5;
    overflow: hidden;
}
.teacher-foot li{
    float: left;
   /* width: 28vw;*/
    flex-grow: 1;
    border-right: 1px solid #eeeeee;
    height: 8.5vh;
    padding: 0 2.5vw;
    overflow: hidden;
}
.foot-pic{
    float: left;
    width: auto;
    height: 2.4vh;
    margin-top: 3.05vh;
}
.foot-pic1{
    float: left;
    width: auto;
    height: 2.4vh;
    margin-top: 3.05vh;

}
.foot-style{
    background-color: #348cf7!important;
    color: #ffffff!important;
}
.foot-p{
    /*font-size: 5.3vw;*/
    font-size: 4vw;
    line-height: 8.5vh;
    float: right;
    font-weight: bold;
}

/*老师-发布心愿------------------------------------------------------------------------------------------------------*/
.issue-p1{
    font-size: 5.6vw;
    padding: 0 5vw;
    font-weight: bold;
    margin-top: 10vh;
}
.swiper-slide{
    /*border: 2px solid transparent !important;*/
}
.swiper-slide img{
    position: relative;
    z-index: -1;
}
.issue-ban{
    background-color: #f5f9ff;
    margin: 1.5vh 4vw;

    box-shadow: #f5f9ff 0px 0px 20px 5px
}
.swiper-container{
    width: 100%;
}
.issue-p2{
    line-height: 10vw;
    margin-top: 0!important;
}
.active{
    background: url("../img/issue-slide_03.png") no-repeat right bottom;
    background-size: 8.5vw 5vh;
    border: 2px solid #348cf7!important;
    border-radius: 10px;
}
.issue-cent{
    width:100vw;
    overflow-x: hidden;
}
.issue-txt{
    width: 86vw;
    height: 16vw;
    background-color: #fafafa;
    margin: 0 auto;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 2vh 2vw;
}
.issue-txt textarea{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;
}
.issue-date{
    width: 86vw;
    height: 100%;
    background: url("../img/issue-input_03.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    display: block;
    border: none;
    padding: 0 2vw;
    font-size: 16px;
}
.issue-check{
    width: 90vw;
    overflow: hidden;
    height: 10vh;
    margin: 0 auto;
}
.issue-checkbox{
    float: left;
    overflow: hidden;
    margin-right: 10vw;
}
.issue-checkbox label{
    width: 5vw;
    height: 5vw;
    display: block;
    float: left;
    border: none;
    background: url("../img/check-bg_05.png") no-repeat;
    background-size: 100% 100%!important;
    margin: 3.5vh 1vh 3.5vh 0;
}
.label-style{
    background: url("../img/check-bg_03.png") no-repeat !important;
    background-size: 100% 100%!important;
}
.p-style{
    color: #333333!important;
}
.issue-checkbox p{
    font-size: 5.6vw;
    color: #7f7f7f;
    float: left;
    line-height: 10vh;
    font-weight: bold;
}
.issue-butt{
    width: 90vw;
    margin: 0 auto;
    height: 13vw;
    background-color: #348cf7;
    color: #ffffff;
    line-height:13vw;
    text-align: center;
    border-radius: 5px;
    font-size: 5.8vw;
    font-weight: bold;
}
/*弹窗------------------------------------------------------------------------------------------------------*/
.win{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.win-center{
    width: 82vw;
    height: 43vh;
    background-color: #ffffff;
    position: absolute;
    top: 27vh;
    left: 50%;
    margin-left: -41vw;
    border-radius: 5px;
    text-align: center;
    padding-top: 7vh;
}
.win-pic{
    width: 21vh;
    height: 21vh;
}
.win-p1{
    font-size: 6vw;
    margin-top: 3.5vh;
    font-weight: bold;
}
.win-p2{
    width: 100%;
    height: 8vh;
    background-color: #348cf7;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffff;
    line-height: 8vh;
    font-weight: bold;
    text-align: center;
    font-size: 4.8vw;
    border-radius: 0 0 5px 5px;
}
/*心愿列表-待认领------------------------------------------------------------------------------------------------------*/
.top-list{
    width: 100vw;
    height: 8.6vh;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 8vh;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #efefef;
}
.wish-cent{
    margin-top: 17.6vh;
}
.top-list li{
    width: 24.5vw;
    float: left;
    border-right: 1px solid #efefef;
    height: 8.6vh;
    text-align: center;
    font-size: 5.3vw;
    color: #999999;
    line-height: 8.6vh;
    position: relative;
    z-index:10;
    font-weight: bold;
}
.top-list li:last-child{
    border-right: none;
}
/*.wish-red{
    display: block;
    width: 4.6vw;
    height: 4.6vw;
    background-color: #ff5656;
    color: #ffffff;
    line-height: 4.6vw;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 1.5vh;
    right: 0.5vw;
    font-size: 3vw;
}*/
.wish-red{
    text-align: center;
    font-size: 3vw;
}
.wish-red2{
    right: 2.5vw!important;
}
.wish-style{
    color: #4b97f8!important;
}
.qx_top{
    overflow: hidden;
    border-bottom: 1px solid #f6f6f6;
    padding-left: 2vw;
    height: 8vh;
}
.wish-list li{
    background-color: #ffffff;
    margin-top: 1vh;
}
.qx-date{
    float: left;
    line-height: 8vh;
    font-size: 4vw;
    color: #878787;
    font-weight: bold;
}
.student-data{
    position: absolute;
    right: 2vw;
    top: 0;
    line-height: 6.6vh;
    font-size: 3vw;
    color: #999999;
    width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.qx-blue{
    float: right;
    width: 28vw;
    height: 8vh;
    background-color: #348cf7;
    color: #ffffff;
    line-height: 8vh;
    text-align: center;
    font-size: 4.8vw;
}
.qx-bot{
    padding:  0 2vw 3vh 2vw;
    position: relative;
}
.wish-p1{
    line-height: 6.6vh;
    font-size: 4vw;
    color: #bbbbbb;
}
.qx-txt{
    font-size: 4vw;
    color: #878787;
}
.dwc-left{
    float: left;
    overflow: hidden;
}
.dwc-pic{
    width: 5.6vh;
    height: 5.6vh;
    float: left;
    border-radius: 50%;
    margin: 1.2vh 2vw 1.2vh 0;
    border: 1px solid #dcebfe;
}
.dwc-p1{
    line-height: 8vh;
    float: left;
    font-size: 4.8vw;
    font-weight: bold;
}
.dwc-bot{
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    border-top: 1px solid #f6f6f6;
    height: 7.5vh;
}
.dwc-bot1{
    width: 49%;
    float: left;
    height: 7.5vh;
}
.dwc-date{
    font-size: 3.2vw;
    color: #666666;
    line-height: 7.5vh;
    text-align: center;
}
.dwc-pone{
    width: 4vw;
    height: 2.5vh;
    float: left;
    margin: 2.5vh 2vw 2.5vh 4vw;
}
.dwc-num{
    float: left;
    line-height: 7.5vh;
    font-size: 4.8vw;
    color: #348cf7;
    font-weight: bold;
}
.ywc-right{
    float: right;
    overflow: hidden;
}
.ywc-p1{
    line-height: 8vh;
    float: left;
    font-size: 4vw;
    color: #878787;
}
.ywc-star{
    float: left;
    overflow: hidden;
}
.ywc-star img{
    float: left;
    width: 5vw;
    height: 3vh;
    margin: 2.5vh 1vw 2.5vh 0;
}
.student-list li{
    width: 33%;
}
/*评价弹窗------------------------------------------------------------------------------------------------------*/
.star-win{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;
}
.star-cent{
    width: 82vw;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    top: 27vh;
    left: 50%;
    margin-left: -41vw;
    border-radius: 5px;
    text-align: center;
}
.star-p1{
    font-size: 6vw;
    line-height: 20vw;
    font-weight: bold;
}
.star1{
    width: 43vw;
    margin: 0 auto;
    overflow: hidden;
}
#star1 img{
    width: 8.7vw!important;
    height: 5vh!important;
    margin-right: 1vw;
}
.star-font{
    width: 100%;
    height: 17vw;
}

.star-input::-webkit-input-placeholder{
    color:#d9d7d7;
}
.star-input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#d9d7d7;
}
.star-input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#d9d7d7;
}
.star-input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#d9d7d7;
}
.star-butt{
    overflow: hidden;
    height: 8vh;
    margin-top: 5vh;
    background-color: #ebebeb;
    border-radius: 0 0 5px 5px;
}
.star-butt div{
    width: 50%;
    float: left;
    text-align: center;
    line-height: 8vh;
    font-size: 4.8vw;
    font-weight: bold;
}
.star-qx{
    color: #a7a7a7;
}
.star-qd{
    color: #ffffff;
    background-color: #348cf7;
}
.xyc-style p{
    color: #348cf7!important;
}
.wishChislide img{
    filter:grayscale(100%)
}
.xyc-style img{
    filter:grayscale(0)
}
.page-loading{
    height: 10vh;
    width: 30vw;
    margin: 0 auto;
    display: none;
}
.page-loading p{
    color: #999999;
    line-height: 10vh;
    float: right;
}
.loading-pic{
    width: 4vh;
    height: 4vh;
    margin-top: 3vh;
    float: left;
}
