<toolbar id="toolbar">
</toolbar>
<style>
.btn_wish {
    padding: 7px 20px;
    background: #23659D;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width:35px;
}
.btn_style {
	padding:8px 15px;
	background: #23659D;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.btn_wish_gray {
    background: #C6C6C6;
}

.btn_wish_red {
    background: red;
}

.popups {
	display: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin-left: -150px;
    margin-top:-125px;
    padding: 20px;
}

.title_wish {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 20px;
}

.clearfixed:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    zoom: 1;
}

.clearfixed>.li {
    display: block;
    float: left;
}
.btn_cancel {
	margin-right: 20px;
	margin-left: 50px;
}
.default {
	height: 25px!important;
	margin:0!important;
	margin-right: 10px!important;
	width:150px;
}
.stu {
	padding:20px 0;
	font-size:14px;
}
.openclose {
	padding-top:20px;
}
.s_name {
	width:65px;
}
.s_con {
	max-width:160px;
}
.conwidth {
    max-width:200px;
}
</style>
<!-- 表格 -->
<table id="table" data-toggle="gridview" class="table table-hover" data-url="__URL__" data-toolbar="#toolbar" data-page-list="[1, 10, 25, 50, All]">
    <thead>
        <tr>
            <th data-width="40" data-align="center" data-checkbox="true"></th>
            <th data-width="50" data-field="level">心愿类型</th>
            <th data-width="200" data-field="content" data-formatter="fomat_content">心愿内容</th>
            <th data-width="100" data-field="end_time">心愿截止时间</th>
            <th data-width="50" data-field="t_name">发布人</th>
            <th data-width="100" data-field="t_mobile">发布人联系方式</th>
            <th data-width="100" data-field="status" data-formatter="fomat_status">待认领状态</th>
            <th data-width="100" data-field="tpye" data-formatter="fomat_tpye">分配心愿</th>
        </tr>
    </thead>
</table>
<div class="popups">
    <div class="title_wish">分配心愿</div>
    <div class="clearfixed">
        <div class="li">
            <input type="text" class="default search_student">
        </div>
        <div class="li btn_search btn_style" onclick="search_student()">搜索</div>
    </div>
    <div class="stu">
        
    </div>
    <div class="clearfixed openclose">
        <div class="li">
            <div class="btn_cancel btn_style btn_wish_gray" onclick="wish_close()">取消</div>
        </div>
        <div class="li">
            <div class="detdrmine btn_style" onclick="wish_determine()">确定</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>
<div style="display:none" id="editor"></div>
<script type="text/javascript">
//格式化数据
function fomat_status(status, row, index) {
    if (status == 1) {
        return '<div style="color:#23659D;">未认领</div>';
    } else {
        return '<div style="color:#777777;">已认领</div>';
    }
}
function fomat_content(con, row, index) {
    return '<div class="conwidth">'+con+'</div>'
}
function fomat_tpye(tpye, row, index) {
    if (tpye == 1) {
        return '<div class="btn_wish btn_wish_gray">分配</div>';
    } else if (tpye == 2) {
        return '<div class="btn_wish btn_wish_red" onclick="fenpei(this)" data-type="2">分配</div>';
    } else if (tpye == 3) {
        return '<div class="btn_wish" onclick="fenpei(this)">分配</div>';
    }
}
$('#table').on("export", function(e, gridview, params) {
    var limit = $('.page-size').html()
    var offset = $('.pagination .active a').html()
    var url = '__URL__/export';
    var array = $('#toolbar form').serializeArray();
    offset = limit * (offset - 1)
    url += '?offset=' + offset + '&limit=' + limit
    window.open(url, '_self');
    return false;
});

function fenpei(e){
	var type = $(e).attr('data-type')
	if (type ==2) {
		alertMsg("请在截止时间30分钟以内进行分配")
	}else{
		var id = $(e).parents('tr').attr('data-uniqueid')
		$('.popups').attr('id',id)
		$('.popups').show()
	}
	
}
function wish_close(){
	$('.popups').hide()
}
function search_student(){

	var val = $('.search_student').val()
    // console.log(val);
	$.ajax({
		url:'/admin/wish/search_student',
		type:'post',
		data:{
			val:val
		},
		success:function(res){
			if (res.name != undefined) {
				var name = res.name 
				var id = res.id 
				var mobile = res.mobile
				var html = ''
				html +='<div class="clearfixed">';
	            html +='<div class="li s_name">学生姓名:</div>';
	            html +='<div class="li s_con studen_name">'+name+'</div>';
	        	html +='</div>';
	        	html +='<div class="clearfixed">';
	            html +='<div class="li s_name">学生电话:</div>';
	            html +='<div class="li s_con studen_phone">'+mobile+'</div>';
	        	html +='</div>'
	        	$('.stu').html(html)
				$('.stu').attr('s_id',id)
			}else{
                alertMsg("查无此学生，请核对后再搜索");
            }
		}
	})
}
function wish_determine(){
	var s_id = $('.stu').attr('s_id')
	var id = $('.popups').attr('id')
	if(s_id){
		$.ajax({
			url:'/admin/wish/stribution',
			type:'post',
			data:{
				id:id,
				s_id:s_id
			},
			success:function(res){
				alertMsg('分配成功')
                wish_close()
			}
		})
	}else{
        alertMsg('请先选择学生再分配')
    }
	
}
</script>